<!-- !BODY CONTENT > {{ type }} -->
<section class="full-calendar {{ type }}">
	<div class="container">
		<div class="row">
			<div class="text-center col-12">
				<p class="mb-2 tap-note text-primary d-block d-md-none"><i class="mr-1 fad fa-circle"></i> Tap on a day to see the event(s)</p>
				<div class="nav">
					<a href="{{ permalink }}?year={{ now_or_param modify="-1 month" format="Y" }}&month={{ now_or_param modify="-1 month" format="F" lower="true" }}">
						<i class="fas fa-angle-left"></i>&nbsp;{{ now_or_param modify="-1 month" format="M" }}
					</a>
					<h2><strong>{{ now_or_param format="M" }}</strong> {{ now_or_param format="Y" }}</h2>
					<a href="{{ permalink }}?year={{ now_or_param modify="+1 month" format="Y" }}&month={{ now_or_param modify="+1 month" format="F" lower="true" }}">{{ now_or_param modify="+1 month" format="M" }}&nbsp;<i class="fas fa-angle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="calendar full-view">
				<div class="days">
					<div class="day">Sun</div>
					<div class="day">Mon</div>
					<div class="day">Tue</div>
					<div class="day">Wed</div>
					<div class="day">Thu</div>
					<div class="day">Fri</div>
					<div class="day">Sat</div>
				</div>
				<div class="dates">
					{{ events:calendar collection="events" :year="get.year" :month="get.month" scope="outer" }}
						{{ if date | is_start_of_week }}<div class="week-row">{{ /if }}
							<div class="day-cell{{ if date | is_today }} today{{ /if }}{{ if date | is_weekend }} weekend{{ /if }}{{ unless date | in_month }} not-month{{ /unless }}">
								<div class="day-number">{{ date format="d" }}</div>
								{{ unless no_results }}
								<ul class="events list-unstyled">
									{{ dates scope="event" }}
                                    <li class="event-item {{ highlights }}" title="{{ title }}">
										{{ if external_event }}<a href="{{ external_event_link }}">{{ elseif event:body_content }}<a href="{{ permalink }}?date={{ outer:date format="Y-m-d" }}">{{ /if }}
												<div class="d-flex justify-content-between">
													<span class="event-title">{{ title }}</span>
													{{ if !all_day }}
														<span class="event-time">{{ start_time format="g:i" }}&nbsp;{{ start_time format="A" }}</span>{{ /if }}
												</div>
											{{ if event:body_content }}</a>{{ /if }}
										</li>
									{{ /dates }}
								</ul>
								{{ /unless }}
							</div>
						{{ if date | is_end_of_week }}</div>{{ /if }}
					{{ /events:calendar }}
				</div>
			</div>
			<div class="calendar-day-holder">
				<div class="events dark">

				</div>
				<div class="events">

				</div>
			</div>
		</div>

	</div>
</section>
